.mySlides {
    width:100%; 
    max-height:450px; 
    margin:0px
}

/*.w3-button{
    font-family: cursive;
}
.w3-button:hover{
    background-color: plum;
    color: yellow;
    font-family: fantasy;

}
*/

.navBar{
    margin: auto;
    text-align: center;
}
.mySections{
    max-width:600px;
    
}

.mySummary{
    border-radius:50px;
    border:solid;
    border-color:plum;
    font-size: 17px;
    /*border-style: double; */
}

.smallSummary{
    font-size: 15px;
}

.myProjects{
        border-radius:80px;
        border:solid;
        
        border-color:rgb(115, 238, 220);
        font-size: 15px;
}

.smallProjects{
    font-size: 15px;
}

.boxProjects{
    border-style: solid;
    border-color: rgb(131, 107, 236);
}

.cyberBox{
    border-style: solid;
    border-color: grey;
    display:inline;
}

.aiBox{
    border-style: solid;
    border-color: grey;
    display:inline;

   
}

.vrBox{
    border-style: solid;
    border-color: grey;
    display:inline;
   
}

.arBox{
    border-style: solid;
    border-color: grey;
    display:inline;

}


.iosBox{
    border-style: solid;
    border-color: grey;
    display:inline;

}
.myExperience{
        border-radius:90px;
        border:solid;
        border-color:rgb(110, 228, 106);
}

.myContact{
        border-radius:40px;
        border:solid;
        border-color:rgb(236, 146, 62);
}

.projectImages{
    width:100%;
}

.linkedinButton{
    border:solid;
    padding:2px;
    border-radius:4px;
}

.linkedinButton:hover{
    background-color: plum;
}


